<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meadowlark Travel - Micro Site</title>
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body style="background-color: #ffffff">
    <header>Micro Site</header>
    {{{body}}}
    <footer>&copy; {{copyrightYear}} Meadowlark Travel</footer>
</body>
</html>