<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width">
    <title>米字棋-在线小游戏</title>
    <link rel="stylesheet" href="/styles/jquery-ui.min.css">
    <link rel="stylesheet" href="/styles/main.copy.css">
    <link rel="stylesheet/less" type="text/css" href="/styles/test.less" />
    <script src="/scripts/less-1.7.3.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-3.2.1.min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <script src="/scripts/jquery.ui.touch-punch.min.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!--<script src="./scripts/angular-1.6.5.js"></script>-->
</head>
<body>
{{{body}}}
</body>
</html>